* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.header {
    height: 30%;
    padding: 20px;
    text-align: center;
}

.topnav {
    height: 7%;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
    color: black;
}


.header.add-new {
    text-align: center;
}

.add-album {
    width: 100%;
    height: 100%;
    justify-content: left;
    padding-bottom: 2rem;
    margin: 0 auto; 
    padding: 0; 
}
  
.column-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
    margin: 0 auto;
    padding: 2rem 2rem 8rem;
}

.header.albums{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
input[type=text], select, textarea {
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }



.all-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100vw;
    height: 80vh;
    margin: auto 25%;
    align-items: center;
}

.card {
    padding: .5rem;
    min-width: 200px;
}


@media screen and (max-width: 600px) {
    .main-album, .column-main, .add-album {
        width: 100%;
        height: 100%;
    }
}


.input-field{
    margin-left: 20px;
}

.submit-button{
    margin: 15px 0px 15px 0px;
}
/* only applies to album.html */

.main-album {
    width: 100%;
    /* height: 100%; */
    display: flex;
    grid-template-rows: 1fr 3fr;
    justify-content: left;
    padding-bottom: 2rem;
    margin: 0 auto;
    padding: 0; 
}

.album-card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    min-width: 200px;
    max-width: 400px;
}

.single-album {
    width: 30vw;
    margin: 15px 20px;
    align-items: left;
    padding: .5rem;
    min-width: 200px;
}
.single-album-image {
    width: 100%;
}

.song-list {
    margin: 10px;
    justify-content: left;
    width: 75vw;
}

.row.song-row {
    height: 10%;
    margin: 15px;
    padding: 5px;
    display: flex;
}
.image {
    width: 10%;
    align-self: center;
}

.play-song {
    padding: 10px;
}

.song-info {
    padding: 10px;
    width: 100%;

}