* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.header {
    height: 30%;
    padding: 20px;
    text-align: center;
}

.topnav {
    height: 7%;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    padding: 16px 16px;
    text-decoration: none;
    color: black;
}

.column {
    height:63%;
    float: left;
    padding: 10px;
}


.column.main {
    width: 100%;
    height: 100%;
    display: flex;
    grid-template-rows: auto;
    justify-content: left;
    padding-bottom: 2rem;
    margin: 0 auto;
    padding: 0; 
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    min-width: 200px;
    max-width: 400px;
}

.all-cards{
    width: 100vw;
    height: 100vh;
    margin: 20px;
    align-items: left;
}
.row {
    margin: 15px;
    border: 2px solid #e7e7e7;
}

@media screen and (max-width: 600px) {
    .column.middle {
        width: 100%;
        height: 100%;
    }
}